.notesContainer {
	height: 900px;
	width: auto;
	overflow-y: scroll;
}

.inputSubmit {
	margin: 5px;
}

.inputBox {
	margin: 5px;
}

.createDate {
	float: right;
}

.createExercise {
	float: right;
}

.createNote {
	width: 370px;
}
